body {
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}
.login_menu {
    color: white;
}

.login_menu a {
    color: white;
    text-decoration: none;
}

main {
    min-height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main h1 {
    margin-bottom: 50px;
}

footer {
    background: #343A40;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
}

.home_logo {
    margin-bottom: 50px;
}

.signUpForm {
    display: none;
}

.hrSignup {
    display: none;
}

.delete_cv {
    cursor: pointer;
}

.cv_btn, .back_btn {
    width: 110px;
    border-radius: 5px;
}

.cv_btn a, .back_btn {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.account-item {
    background-color: #e5e8eb;
    padding: 30px;
    width: 250px;
}

.infos-list {
    background-color: #e5e8eb;
    padding: 30px;
}
