body {
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

main {
    min-height: calc(100vh - 146px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

main h1 {
    margin-bottom: 50px;
}

footer {
    background: #343A40;
    width: 100%;
    color: white;
    text-align: center;
}

footer p {
    margin: 0;
}

.home_logo {
    margin-bottom: 50px;
}

.formCandidate, .formRecruiter {
    display: none;
}

.hrSignup {
    display: none;
}

.delete_cv {
    cursor: pointer;
}

.cv_btn, .back_btn {
    width: 110px;
    border-radius: 5px;
}

.cv_btn a, .back_btn {
    text-decoration: none;
    color: white;
}

.add-offer_btn {
    width: 170px;
    text-decoration: none;
    color: white;
}

.add-consultant_btn {
    width: 200px;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

.account-item {
    background-color: #e5e8eb;
    padding: 30px;
    width: 250px;
}

.infos-list {
    background-color: #e5e8eb;
    padding: 30px;
}

.candidatureBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.approveBtn {
    margin-left: 24px;
}

.refuseBtn {
    margin-right: 24px;
}

@media screen and (min-width: 992px) {
    .candidatureBtns {
        flex-direction: column;
    }
    .arrow-down {
        transform: rotate(-90deg);
    }
    .approveBtn {
        margin-left: 0;
    }
    
    .refuseBtn {
        margin-right: 0;
    }
}